* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.main-header {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
    text-align: center;
}

main {
    padding: 40px;
}

.titulo-secao {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-top: 2px solid #ccc;
}

.grupo-maquinas {
    display: flex;
    gap: 20px; 
}

.card-maquina {
    background-color: #ccc;
    padding-right: 10px;
    border: 2px solid black;
    max-width: 400px;
    margin: 10px 0;
    text-align: center;
    min-width: 350px;
    border-radius: 10px;
}

.img-tear {
    width: 4cm;
    height: 3cm;
}

ul {
  list-style-position: inside;
}

button {
    background-color: rgb(202, 202, 7);
    margin-bottom: 15px;
    padding: 3px 6px;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(158, 158, 13);
}

.rodape {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 40px;
}
