* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.main-header {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
    text-align: center;
}

main {
    padding: 40px;
}

.titulo-secao {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-top: 2px solid #ccc;
}

.grupo-maquinas {
    display: flex;
    gap: 20px; 
}

.card-maquina {
    background-color: #ccc;
    padding-right: 10px;
    border: 2px solid black;
    max-width: 400px;
    margin: 10px 0;
    text-align: center;
    min-width: 350px;
    border-radius: 10px;
}

.img-tear {
    width: 4cm;
    height: 3cm;
}

ul {
  list-style-position: inside;
}

button {
    background-color: rgb(202, 202, 7);
    margin-bottom: 15px;
    padding: 3px 6px;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(158, 158, 13);
}

.rodape {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 40px;
}

/* ================= LOGIN ================= */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-box {
    background-color: #dcdcdc;
    padding: 40px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    margin-bottom: 25px;
    color: #2f4054;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #999;
}

.login-box button {
    width: 100%;
}

.botao-login {
    background-color: rgb(73, 74, 94);
    color: white;
}

.botao-login:hover {
    background-color: #2c3e50;
}

.erro {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 18px;
    font-weight: bold;
}
